<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= coffeeType ? "Edit Coffee Type" : "Create Coffee Type" %></title>
  </head>
  <body>
    <h1><%= coffeeType ? "Edit Coffee Type" : "Create New Coffee Type" %></h1>
    <form
      action="<%= coffeeType ? `/coffee-types/${coffeeType.id}/edit` : '/coffee-types' %>"
      method="POST"
    >
      <label for="name">Coffee Type Name:</label>
      <input
        type="text"
        id="name"
        name="name"
        value="<%= coffeeType ? coffeeType.name : '' %>"
        required
      /><br />

      <label for="description">Description:</label>
      <textarea id="description" name="description" required>
<%= coffeeType ? coffeeType.description : '' %></textarea
      ><br />

      <button type="submit">
        <%= coffeeType ? "Update Coffee Type" : "Add Coffee Type" %>
      </button>
    </form>
    <button onclick="window.location.href='/'">Go Back</button>
  </body>
</html>
